{% extends 'shop/basic.html' %}
{% block title %} About us {% endblock %}
{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p><b>My Awesome Cart</b> founded by <b>Mr. Prikshit Grover</b> is an e-commerce company headquartered in Gurgaon.The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of March 2017, My Awesome Cart held a 39.5% market share of India's e-commerce industry.My Awesome Cart has a dominant position in the apparel segment bolstered by its acquisition of Myntra and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.My Awesome Cart also is also going to own a a mobile payments service based on the Unified Payments Interface. </p>
      <a class="btn btn-primary btn-lg" href="/shop" role="button">Back To Shopping &raquo;</a>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Prikshit Grover</h3>
        <p>Prikshit Grover is currently pursuing BCA from Institute Of Innovation In Technology And Management affilated to GGSIPU,Delhi. This startup was always a dream for him which came true due to his true dedication into it and with the support of his family,teachers and obviously friends. Other then this he loves playing football. </p>
      </div>

    </div>
    <hr>
  </div> <!-- /container -->
</main>
{% endblock %}